@import url(reset.css);

body{
	font: 13px/1.39 Arial, Verdana, Tahoma, sans-serif;
	background: url(../images/main_bg.jpg);
	color: #5e5e5e;
}

header{
	margin: 0 auto;
	min-width: 960px;
	max-width: 1400px;
	overflow: hidden;
}

p {
	margin: 5px 0 20px 0;
}

a{
	text-decoration: none;
	color: #5e5e5e;
}

a:hover{
	text-decoration: underline;
}

h2{
	font-size: 18px;
	line-height: 1.1;
	margin-bottom: 8px;
}

nav, #wrapper {
	max-width: 1400px;
	min-width: 960px;
	height: 49px;
	margin: 0 auto;
}

nav a {
	color: #ebebeb;
	font-size: 12px;
	padding: 16px 15px;
	display: block;
}

nav a:hover{
	background: url(../images/nav-hover.png) repeat-x;
	text-decoration: none;
}

nav ul li {
	float: left;
	text-transform: uppercase;
}

main {
	margin-right: 300px;
	padding: 15px 38px 30px 10px;
	
}

article{
	border-bottom: 1px dashed #e5e5e5;
	margin-top: 15px;
	overflow: hidden;
}

.sidebar {
	width: 300px;
	height: 400px;
	background: #b2b2b2;
	float: right;
}

.thumbnail {
	float: left;
	margin-bottom: 15px;
}

.thumbnail img{
	border: 3px solid #e0e0e0;
}

.article_nav{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #aaa;
	margin: 0 0 4px 0;
}

.article_content{
	margin-left: 190px;
}

#logo {
	width: 241px;
	height: 46px;
	float: left;
	margin-top: 44px;
	margin-bottom: 42px;
	margin-left: 10px;
}

#banner{
	width: 468px;
	height: 60px;
	float: right;
	margin-top: 34px;
	margin-right: 10px;
}

#top-menu {
	height: 49px;
	min-width: 960px;
	width: 100%;
	background: url(../images/top-nav-bg.png) repeat-x;
}